body
{
	background-color: #000;
	background-image: url("../img/Cow-Wallpaper-.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

p, div, img
{
	width: 70%;
	margin: 10px auto;
	text-align: center;
	color: #f00;
}

h1, h2, h3
{
	color: #00f;
	font-weight: 900;
}
img
{
	width: 50%;
}

div{
	border: 2px solid red;
	background-color: rgba(0,0,255,0.2);
}
